alabaster
astroid
attrs
Babel
blinker
certifi
charset-normalizer
click
click-plugins
cligj
dill
docutils
fiona
Flask
Flask-SQLAlchemy
geopandas
greenlet
gunicorn
idna
imagesize
isort
itsdangerous
Jinja2
MarkupSafe
mccabe
numpy
oauthlib
packaging
pandas
parsimonious
platformdirs
psycopg2-binary
Pygments
pylint
pyproj
python-dateutil
python-dotenv
pytz
regex
requests
requests-oauthlib
shapely
six
snowballstemmer
Sphinx
sphinx-adc-theme
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
SQLAlchemy
tomlkit
typing_extensions
tzdata
urllib3
Werkzeug
Flask-Migrate